{% extends "Admin/base.twig" %}

{% block title %}Page Edit{% endblock %}


{% block body %}
<!--Content Editor-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ویرایش صفحه</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                {#<div class="tab">#}
                    {#<button class="tablinks   active" onclick="openLanguage(event, 'data')">اطلاعات انگلیسی</button>#}
                    {#<button class="tablinks" onclick="openLanguage(event, 'fa_data')">اطلاعات فارسی</button>#}
                    {#<button class="tablinks " onclick="openLanguage(event, 'gallery')">گالری تصاویر</button>#}
                {#</div>#}
                <div class="pull-left">
                    <a href="{{ url('admin/page/list') }}" class="btn btn-info">لیست صفحات</a>
                    <a href="{{ url('page/review') }}/{{ page.slug }}" class="btn btn-success" target="_blank">مشاهده صفحه</a>
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">اطلاعات انگلیسی</a></li>
                    <li role="presentation"><a href="#fa_data" aria-controls="fa_data" role="tab" data-toggle="tab">اطلاعات فارسی</a></li>
                    <li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">گالری تصاویر</a></li>
                    <li role="presentation"><a href="#meta" aria-controls="meta" role="tab" data-toggle="tab">تنظیمات
                            سئو</a></li>

                </ul>

            </div>
            <div class="panel-body">

            <div class="tab-content">

                    <div role="tabpanel" id="data" class="tab-pane active">
                        <form action="/admin/page/update" class="form-horizontal" method="post"
                              enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{ page.id }}">
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lg-offset-0">عنوان اول انگلیسی صفحه: </label>
                            <div class="col-sm-4">
                                <input dir="ltr" type="text" class="form-control" name="title" placeholder="title"
                                       value="{{ page.title }}">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lg-offset-0">عنوان دوم انگلیسی صفحه: </label>
                            <div class="col-sm-4">
                                <input dir="ltr" type="text" class="form-control" name="subtitle" placeholder="subtitle"
                                       value="{{ page.subtitle }}">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lg-offset-0">اسلاگ صفحه: </label>
                            <div class="col-sm-4">
                                <input dir="ltr" type="text" class="form-control" name="slug" placeholder="slug"
                                       value="{{ page.slug }}" required>
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-10 col-lg-offset-1">
                            <h4>خلاصه
                                <small>(این توضیحات در قسمت توضیحات ابتدایی در بالای صفحه نمایش داده می شود)</small>
                            </h4>
                            <div class="form-group">
                                <textarea class="description" name="summary"
                                          placeholder="Summary...">{{ page.summary }}</textarea>
                            </div>
                        </div>
                        <div class="col-lg-10 col-lg-offset-1">
                            <h4>متن
                                <small>(این متن در قسمت توضیحات کامل در قسمت پایین صفحه نمایش داده می شود)</small>
                            </h4>
                            <div class="form-group">
                                <textarea class="description" name="description"
                                          placeholder="Description...">{{ page.description }}</textarea>
                            </div>
                        </div>

                        <br>
                        <div class="col-lg-offset-1">
                            <button class="btn btn-primary" type="submit">ویرایش صفحه</button>
                            <button class="btn btn-danger" onclick="history.go(-1);">انصراف</button>
                        </div>
                        {#</form>#}
                    </div>

                    <div role="tabpanel" id="fa_data" class="tab-pane fade">
                        <br>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label col-lg-offset-0">عنوان اول فارسی صفحه: </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fa_title" placeholder="fa_title"
                                       value="{{ page.fa_title }}">
                            </div>
                        </div>
                        <br>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label col-lg-offset-0">عنوان دوم فارسی صفحه: </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fa_subtitle" placeholder="fa_subtitle"
                                       value="{{ page.fa_subtitle }}">
                            </div>
                        </div>
                        <br>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label col-lg-offset-0">اسلاگ صفحه: </label>
                            <div class="col-sm-4">
                                <input dir="ltr" type="text" class="form-control" name="slug" placeholder="slug"
                                       value="{{ page.slug }}" required>
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-10 col-lg-offset-1">
                            <h4>خلاصه
                                <small>(این توضیحات در قسمت توضیحات ابتدایی در صفحه نمایش داده می شود)</small>
                            </h4>
                            <div class="form-group">
                                <textarea class="description" name="fa_summary"
                                          placeholder="Summary...">{{ page.fa_summary }}</textarea>
                            </div>
                        </div>
                        <div class="col-lg-10 col-lg-offset-1">
                            <h4>متن
                                <small>(این متن در قسمت توضیحات نمایندگی ها در صفحه نمایش داده می شود)</small>
                            </h4>
                            <div class="form-group">
                                <textarea class="description" name="fa_description"
                                          placeholder="Description...">{{ page.fa_description }}</textarea>
                            </div>
                        </div>

                        <br>
                        <div class="col-lg-offset-1">
                            <button class="btn btn-primary" type="submit">ویرایش صفحه</button>
                            <button class="btn btn-danger" onclick="history.go(-1);">انصراف</button>
                        </div>
                </form>
            {#</div>#}

            </div>

                <div role="tabpanel" id="gallery" class="tab-pane fade">

                    <form action="/admin/page/media/store" class="form-horizontal" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" class="form-control" name="entity_type" value="page">
                        <input type="hidden" class="form-control" name="entity_id" value="{{page.id}}">
                        <input type="hidden" class="form-control" name="entity_position" value="gallery">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">افزودن تصاویر اسلایدشو: </label>
                            <div class="col-sm-6">
                                <input type="file" class="form-control" name="media">
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-success">بارگذاری تصاویر</button>
                            </div>
                        </div>
                    </form>

                    <div class="ln-solid clearfix"></div>

                    <div class="image-gallery">
                        {% if medias|length > 0 %}
                            {% for media in medias %}
                                <div class="col-sm-4 image-wrapper">
                                    <div class="image" style="height: 250px">
                                        <img src="{{url('uploads')}}/{{media.file}}" alt="" style="height: 100%">
                                        <div class="info">
                                            <form action="/ajax/media/delete" method="post" class="media-form">
                                                <input type="hidden" name="id" value="{{ media.id }}">
                                                <input type="submit" class="btn btn-danger btn-block"
                                                       data-toggle="confirmation" data-placement="bottom"
                                                       value="حذف تصویر">
                                            </form>
                                            <br>
                                            {#<div class="ln-solid"></div>#}
                                            <form action="/ajax/media/alt" method="post" class="media-form">
                                                <input type="hidden" name="id" value="{{ media.id }}">
                                                <input type="text" name="alt" placeholder="insert alt attribute"
                                                       class="form-control" value="{{ media.alt }}" style="margin-bottom: 10px">
                                                <input type="text" name="alt_fa" placeholder="تگ را وارد کنید"
                                                       class="form-control" value="{{ media.alt_fa }}">
                                                <br>

                                                <label for="sel1" class="col-sm-3 control-label">وضعیت نمایش:</label>
                                                <select class="form-control col-sm-6" name="status">
                                                    <option value="{{ media.status }}">{{ media.status }}</option>
                                                    <option value="نمایش">نمایش</option>
                                                    <option value="عدم نمایش">عدم نمایش</option>
                                                </select>
                                                <br>
                                                <input type="submit" id="submit"
                                                       class="btn btn-success btn-block" value="ذخیره">
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            !oops not found
                        {% endif %}
                    </div>
                </div>

                <div role="tabpanel" id="meta" class="tab-pane fade">

                    <form action="/admin/meta/store" class="form-horizontal" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" class="form-control" name="entity_type" value="page">
                        <input type="hidden" class="form-control" name="entity_id" value="{{ page.id }}">
                        <input type="hidden" class="form-control" name="tab_position" value="meta">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">متا تگ فارسی: </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_tag_fa" value="{{ meta.meta_tag_fa }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">متا تگ انگلیسی: </label>
                            <div class="col-sm-6">
                                <input dir="ltr" type="text" class="form-control" name="meta_tag" value="{{ meta.meta_tag }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">متا توضیحات فارسی: </label>
                            <div class="col-sm-6">
                                <textarea  class="form-control" name="meta_description_fa" rows="3">{{ meta.meta_description_fa }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">متا توضیحات انگلیسی: </label>
                            <div class="col-sm-6">
                                <textarea dir="ltr" class="form-control" name="meta_description" rows="3">{{ meta.meta_description }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">به روز رسانی</button>
                            </div>
                        </div>
                        <br>
                    </form>

                </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}


{#<script>#}
    {#function openLanguage(evt, language) {#}
        {#var i, tabcontent, tablinks;#}
        {#tabcontent = document.getElementsByClassName("tabcontent");#}
        {#for (i = 0; i < tabcontent.length; i++) {#}
            {#tabcontent[i].style.display = "none";#}
        {#}#}
        {#tablinks = document.getElementsByClassName("tablinks");#}
        {#for (i = 0; i < tablinks.length; i++) {#}
            {#tablinks[i].className = tablinks[i].className.replace(" active", "");#}
        {#}#}
        {#document.getElementById(language).style.display = "block";#}
        {#evt.currentTarget.className += " active";#}
    {#}#}
{#</script>#}

    <script>

        $(function(){
            var hash = window.location.hash;
//            alert(window.location.hash);
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });

    </script>


{% endblock %}
