<section class="top-section">
    <div class="container-fluid">
        <div class="row">
            <div class="language">
                <div class="btn-group">
                    <a type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                        <i class="fa fa-globe"></i> <span class="language-name"></span> <span class="caret"></span>

                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="{{ url('lng/en') }}">English</a></li>
                        <li><a href="{{ url('lng/fa') }}">فارسی</a></li>
                    </ul>
                </div>
            </div><!--language-->
            <div class="socials hidden-xs">
                <ul>
                    {% if elements.socials_info.facebook is not empty %}  <li><a href="{{elements.socials_info.facebook}}"><i class="icon icon-faceboook"></i></a></li> {% endif %}
                    {% if elements.socials_info.twitter is not empty %} <li><a href="{{elements.socials_info.twitter}}"><i class="icon icon-twitter"></i></a></li> {% endif %}
                    {% if elements.socials_info.google is not empty %} <li><a href="{{elements.socials_info.google}}"><i class="icon icon-google_plus"></i></a></li> {% endif %}
                    {% if elements.socials_info.linkedin is not empty %} <li><a href="{{elements.socials_info.linkedin}}"><i class="icon icon-linkedin"></i></a></li> {% endif %}
                    {% if elements.socials_info.instagram is not empty %} <li><a href="{{elements.socials_info.instagram}}"><i class="icon icon-instagram"></i></a></li> {% endif %}
                    {% if elements.socials_info.whatsapp is not empty %} <li><a href="{{elements.socials_info.whatsapp}}"><i class="icon icon-whatsapp"></i></a></li> {% endif %}
                    {% if elements.socials_info.aparat is not empty %} <li><a href="{{elements.socials_info.aparat}}"><i class="icon icon-aparat"></i></a></li> {% endif %}
                    {% if elements.socials_info.telegram is not empty %} <li><a href="{{elements.socials_info.telegram}}"><i class="icon icon-telegram"></i></a></li> {% endif %}
                    {% if elements.socials_info.youtube is not empty %} <li><a href="{{elements.socials_info.youtube}}"><i class="icon icon-youtube"></i></a></li> {% endif %}
                </ul>
            </div>
        </div>
    </div><!--container-fluid-->
</section><!--top-section-->

<section class="menu">
    <div class="logo">
        <a href="/">
            <img src="/images/Logo-Header.png" alt="" class="img-responsive">
        </a>
    </div>
        <nav class="navbar navbar-default">
    <div class="container">
        <div class="menu-wrapper">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% for menu in menues%}
                    {% if menu.children|length > 0 %}
                    <li class="dropdown">
                        <a href="{{ menu.link }}" class="dropdown-toggle " data-toggle="dropdown">{{ menu.title }}</a>

                        <ul class="dropdown-menu">
                            {% for child in menu.children %}
                            <li><a href="{{ child.link }}">{{ child.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ menu.link }}">{{ menu.title }}</a>
                    </li>
                    {% endif %}

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div><!--container-->
        </nav>
</section>

